.mapContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.searchBar {

  z-index: 1;
  position: absolute;
  margin: 12px;
  top: 5px;
  left: 0;
  width:400px;
  border-radius: 4px;
}

.searchBarElement {
  /*padding: 0 15px;*/
    border-bottom: 1px solid #eee;


    background: #fff;

    display: table-cell;
    vertical-align:middle

}